.hidden {
    display: none;
}

@media screen and (max-height: 600px) {

    .center-below,
    html {
        font-size: 90%;
    }
}

@media screen and (max-height: 650px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-height: 700px) {
    html {
        font-size: 90%;
    }
}